APP_BASE_URL=http://192.168.0.136:5000
APP_TIMEZONE=Europe/London
PORT=5000
SCRAPER_INTERVAL_SECONDS=300

GMAIL_USER=
GMAIL_APP_PASS=

GOOGLE_SHEET_CSV_URL=
GOOGLE_SHEET_WEBHOOK_URL=

NTFY_BASE_URL=https://ntfy.sh
NTFY_TOPIC=
NTFY_TOKEN=

HEALTHCHECKS_PING_URL=
